extends layout

block content
     div.container(style="padding-top:40px")
          div.content
               table.table
                    tbody
                         for val in [1,2,3,4,5]
                              tr
                                   th(style="width:50px")
                                        img(src="/images/icon.png", width="30px")
                                   th
                                        p This is an item
     
