extends layout
include mixins
               
block content
     div.container
          div.jumbotron.form(style="margin-left: 10%; width:40%; float:left")
               h4 Join as a supplier
               p.
                    Choose this option if you have surplus food you want to
                    list on the site.
               a(href="/signup/supplier")
                    +selector
          div.jumbotron.form(style="margin-right: 10%; width:40%; float:right")
               h4 Join as a consumer
               p.
                    Choose this option if you don't have surplus food, but you can
                    take surplus food.
               a(href="/signup/consumer")
                    +selector
