extends layout

block content
     div.jumbotron.signin
          form.form-horizontal(method="post")
               input.span3.signin(id="username", type="text", name="User", placeholder="Email address")
               input.span3.signin(id="username", type="password", name="User", placeholder="Password")
               input.btn(type="submit", value="Submit")
