extends layout 

block content
     div.container(style="margin:3% auto 1% auto")
          h3(style="text-align:center") Thanks for helping out, #{name}.
     div.container(style="width:40%")
          p(style="text-align:center")
               | Your contribution will help reduce food waste and make it
               | easier for other people to eat properly.
     div.jumbotron.form
          form.form-horizontal(id="loginForm")
               input.span3.signin.top(id="title", type="text", name="title", placeholder="Title (e.g. 'cheese sandwiches')")
               input.span3.signin(id="description", type="text", name="description", placeholder="Description")
               input.span3.signin(id="postcode", type="text", name="postcode", placeholder="Postcode")
