extends layout
include mixins

block content
     script.
          function submit() {
                var email = document.getElementById('email').value;
                var password = document.getElementById('password').value;
                var request = new XMLHttpRequest();
                request.open('POST', '/auth', true);
                request.setRequestHeader('Content-Type', 'application/json');
                var data = JSON.stringify({"email": email, "password": password});
                request.send(data);
                
                request.onreadystatechange = function() {
                   if (request.readyState === 4) {
                        var res = JSON.parse(request.response);
                        console.debug(res.error)
                        if ( res.error ) {
                             document.getElementById("error").hidden = false;
                        } else {
                             window.location.assign("/");
                        }
                        
                   }
               };
               
               return false
          };
     +error
     div.jumbotron.form
          form.form-horizontal(id="loginForm")
               input.span3.signin(id="email", type="text", name="email", placeholder="Email address")
               input.span3.signin(id="password", type="password", name="password", placeholder="Password")
               +selector
     
          
          
